<header class="headerContainer" id="headerNav">
    <nav class="navHeader">
        <div class="section1Header">
            <a routerLink="/" class="enlaceCJZR">CJZR</a>
        </div>
        <ul class="section2Header">
            <li class="enlaces">
                <input type="checkbox" id="switchModeDark" (change) = "modeDark()">
            </li>
            <li class="enlaces">
                <a routerLink="/cards" class="enlaceList">
                    <i class="far fa-credit-card card-test"></i><span>View Cards</span>
                </a>
            </li>
            <li class="enlaces">
                <a routerLink="/addCards" class="enlaceList">
                    <i class="fas fa-plus card-test"></i><span>Add Cards</span>
                </a>
            </li>
        </ul>
    </nav>
</header>

